@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e3e3f5;
  background: #080a17;
  overflow-x: hidden;
}

#skills {
  background-image: url(../public/bgparallax.webp);
  background-position: center;
  background-size: cover;
}

@media (max-width: 480px) {
  #skills {
    background-repeat: no-repeat;
    background-size: initial 100% !important;
    background-attachment: fixed !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
.imageContainer {
  position: relative;
}

.floatingImage {
  animation: float 3s ease-in-out infinite;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #e3e3f5;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.embla {
  max-width: 70rem;
  margin: auto;
  --slide-size: calc(100% / 6);
  --slide-spacing: 1rem;
  --slide-spacing-sm: 1.6rem;
  --slide-spacing-lg: 2rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
    --slide-size: calc(100% / 10);
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
